.container1{
  background-color: black;
  color: white;
  text-align: center;
  height: 580px;
  width: 100%;
  padding-top: 50px;
}
.container2{
  margin-top: 200px;
  text-align: center;
}
body{
  padding: 0;
  margin: 0;
}

.p1{
  font-family: Monotype Garamond,garamond,serif;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: .0277777778em;
    line-height: 1.5em;
    padding-top: 50px;
    margin-top: 0;

}
body.h1{
  text-align: center;
  font-family: "Century Gothic",SANS-SERIF;
  font-weight: 100;
  font-size: 2em;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 3.76px;
  padding-bottom: 50px;

}
.container2 h1{
  color: black;
}
body.a{
  display: inline-block;
  font-family: Neue Helvetica,helvetica,sans-serif;
  font-size: .75rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .25em;
  line-height: 1.33em;
  color: white;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid #fff;
  margin-left: -1000px !important;
}
.p2{
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  font-family: Neue Helvetica,helvetica,sans-serif;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2em;
  line-height: 1.33em;
  color: white;

}
.lines{
  width: 55%;
  border: 0;
  border-bottom: 1px solid white;
}
input,select{

  width: 350px;
  height: 40px;
  border: transparent;
  border-bottom: 1px solid black;
  margin-left: 10px;
}
textarea{
  margin-top: 50px;
  width: 55%;
  height: 150px;
}
.button1{
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: .2em;
  width: 180px;
  height: 40px;
  font-family:"Neue Helvetica W04",Neue Helvetica,Helvetica,sans-serif;
  font-weight: 550;
  background-color:black;
  color: white;
  border: 1px solid black;
  margin-left: 20px;
}
.button1:hover{
  background-color: white;
   color: black;
}
.p3{
  display: inline-block;
  font-family: Neue Helvetica,helvetica,sans-serif;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2em;
  line-height: 1.33em;
  color: white;
  margin-left: -100px;
}
.p6{
  padding-right: 410px;
}
.p5{
  padding-right: 400px;
}
.p4{
  padding-right: 400px;
}
