/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.btn{
  margin-top: 2rem;
  width: 150px;
  padding: 12px;
  color: #fff;
  background: black;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
}
body{
    background-color: #000;
}




/* Home Section */
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* section{
  padding: 50px 0 50px 0;
} */
.home{
  display: flex;
  background: #000;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .home-content{
  width: 50%;
  padding: 2rem;
  padding-top: 0;
}
.home h3{
  color: #fff;
  margin-top: 6rem;
  font-size: 5rem;
  font-family: 'Philosopher', sans-serif;
}
.home p{
  color: rgb(194, 191, 191);
  margin-top: 1rem;
  font-size: 12px;
}
.home .home-image{
  width: 50%;
}
.home .home-image img{
  width: 100%;
  height: 100%;
}
.time{
  color: white;
  background-color: black;
  margin-top: 20px;
 
}
.time h2{
  text-align: center;
}
.time .time-table{
  margin: 20px auto;
  width: 60%;
}
.time .time-table .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
}
.time .time-table .row .description{
  width: 20%;
}
