body{
    margin: 0;
}
.roomTitle{
    height: 120px;
    width: 100%;
    background-color: black;
    margin:0;
    padding: 0;
    top:0;
}
.roomTitle h3{
    color:white;
    font-size: 16px;
    line-height: 24px;
    font-family: Monotype Garamond, Garamond, serif; 
    text-align: center;
    margin-top:0;
}
.roomTitle p{
    color: white;
    font-size: 32px;
    line-height: 42px; 
    font-family:Neue Helvetica, helvetica, sans-serif;
    text-align: center;
}
.RoomImage{
    width: 100%;
    margin:0;
    padding: 0;
    height: fill;
}
.breif{
    /* position: relative; */
    height: 180px;
    width: 100%;
    background-color: black;
    padding: 50px 0px;
    justify-content: space-evenly;
    /* margin:0;
    padding: 50px 0px;
    top:-10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breif p{
    color:white;
    font-size: 22px;
    line-height: 33px;
    font-family: Monotype Garamond, Garamond, serif; 
    text-align: center;
    margin-top:0;
}
 .breif .book{
    background: rgba(255, 255, 255, 1); 
    padding: 9px 25px;
    

}
.breif .book:hover{
    background-color: grey;
    transition: all 0.3s ease 0s;
    
} 
.detailsTitle p{
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    font-family: Neue Helvetica, helvetica, sans-serif;
    color: black;
    font-weight: 200;
}

/* .column {
    float: left;
    width: 40%;
    padding-left: 10%;
    padding-bottom: 3%;
    height: 120px;
    
    
}
.column1 {
    float: left;
    width: 40%;
    padding-right: 10%;
    padding-bottom: 3%;
    height: fit-content;
    
} */
hr{
    background-color: black;
    width: 400px;
    float: left;
    
}
.Column1 .Column2, h2{
    font-family: Neue Helvetica, helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: left;
    
}
.Column1 .Column2, p{
    font-family: Neue Helvetica, helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
}
#RoomImage{
    width: 30px !important;
    height: 30px;
    margin-top: 10px !important;
    margin-right: 15px !important;
}
.titles{
    margin-top: 10px;

}
.all {
    display: flex;
    justify-content: space-evenly;
}
.PClass{
    width: 100%;
}
.column1 , .column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.all{
    margin: 0 auto;
}
.column {
    margin-left: 10%;
    margin-right: 2%;
  }
.column1{
    margin-right: 10%;
}
.info {
    border-top: 1px solid black;
    height: 180px;
    width: 500px;
  }