section{
  display: flex;
}
.signin{
  width: 50%;
}
.createProfileImg img{
  position: sticky;
  margin-left: 150px;
  width: 500px;
  height: 100%;
}
.signin{
  padding-left: 50px;
  margin-left: 100px;
}


.signin h1{
    color:black;
    text-align: center;
    font-family: "Century Gothic",SANS-SERIF;
    font-weight: 10;
    font-size: 2em;
    line-height: 1.4;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 3.76px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}
body{
  text-align: center;
  font-family: "Century Gothic",SANS-SERIF;
  margin: 0;
  padding: 0;
}

.fill{
  width: 300px;
  height: 40px;
  border: transparent;
  border-bottom: 1px solid black;
  margin-left: 10px;
}
.fillname{
  width: 150px;
  text-align: left;
}

.nameLabel ,.phonenumber{
  margin-left: 50px;
}
.lastname{
  width: 400px;
}
.country{
  width: 370px;
}
.countrycode{
  width: 100px;
}
.email{
  width: 436px;
}
h5{
  display: inline;
}


.button1{
  width: 180px;
  height: 40px;
  font-family:"Neue Helvetica W04",Neue Helvetica,Helvetica,sans-serif;
  font-weight: 550;
}

.button1{
  margin-top: 70px;
  background-color: white;
   color: black;
   border: 1px solid black;
   margin-left: 20px;
}

.button1:hover{
  background-color:black;
   color: white;

}
